@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

:root {
  --primary-color: #091729;
  --secondary-color: #1F535F;
  --accent1-color: #000000;
  --accent2-color: #ffffff;

  --heading-font: 'Poppins', sans-serif;
  --paragraph-font: 'Open Sans', sans-serif;

  --nav-background-color: #091729;
  --nav-link-color: #eee;
  --nav-hover-link-color: #1F535F;
  --nav-hover-background-color: #eee;
}

* {
  box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
  color: var(--accent1-color);
  padding: 25px;
}

/* Header */

header {
    display: grid;
    grid-template-columns: 400px 1fr;
    align-items: center;
    margin-bottom: 1.5rem;
    background-color: var(--primary-color);
}

header img {
  grid-column: 1 / 2;
  height: auto;
  justify-self: center;
}

.top-nav {
  display: flex;
  justify-content: space-evenly;
}

.top-nav a{
  color: var(--nav-link-color);
  text-decoration: none;
  font-size: 25px;
  grid-column: 2 / 3;
  padding: 1em;
}

.top-nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

/* BANNER */

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  font-size: 30px;
  top: 10px;
  color: rgb(255, 255, 255, .9);
  padding: 2rem;
  background-color: rgb(0, 0, 0, .5);
  width: 100%;
  text-align: center;
}

.article {
  position: absolute;
  padding: 1rem;
  background-color:rgba(0, 0, 0, 0.4);
  top: 150px;
  left: 150px;
  right: 150px;
}

.article img{
  width: 200px;
  float: right;
}

.article p {
  color: rgb(255, 255, 255);
  font-size: 22px;
  padding-left: 20px;
}

/* HISTORY */ 

.history {
  display: grid;
  margin-top: 2rem;
  padding: 2rem;
  background-color:rgba(0, 0, 0, 0.4);
  grid-template-columns: repeat(3, 1fr);
}

.history h2 {
  text-align: center;
  grid-column: 1/4;
  grid-row: 1;
  font-size: 40px;
}

.history img{
  justify-self: center;
  grid-column: 2 / 3;
  grid-row: 2;
}

/* ADVENTURE */ 

.adventure {
  display: grid;
  gap: 10px;
  margin-top: 2rem;
  grid-template-columns: repeat(5, 1fr);
  background-color:rgba(0, 0, 0, 0.4);
}

.adventure h2 {
  text-align: center;
  grid-column: 1/6;
  font-size: 40px;
}

.adventure img {
  width: 100%;
  height: auto;
  max-width: 200px;
}

.adventure figcaption {
  text-align: center;
}

/* CONTACT*/

.row {
  display: grid;
  margin-top: 2rem;
  padding: 2rem;
  background-color:rgba(0, 0, 0, 0.4);
  grid-template-columns: repeat(2, 1fr);
}

.company-info {
  padding: 2rem;
}

/* CONTACT FORM */

.contact-form {
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 2rem;
  padding: 2rem;
}

form {
  display: grid;
  padding: 0.5rem;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"] {
  margin-top:5px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* EMPLOYEE */

.employee-profiles {
  display: grid;
  font-family: var(--heading-font);
  color: var(--primary-color);
  grid-template-columns: repeat(3, 1fr);
}

/* FOOTER */ 

footer {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 1fr 1fr 400px;
  background-color: var(--nav-background-color);
}

.sociallinks {
  display: flex;
  text-decoration: none;
  grid-column: 3 / 4;
  justify-content: center;
  align-items: center;
}

.sociallinks a{
  margin-left: .8rem;
  margin-right: .8rem;
}

footer p {
  grid-column: 2 / 3 ;
  text-align: center;
  color: var(--secondary-color);
}