@import url('https://fonts.googleapis.com/css2?family=your-heading-font&family=your-paragraph-font&display=swap');

:root {
  --primary-color: #091729;
  --secondary-color: #1F535F;
  --accent1-color: #eee;
  --accent2-color: #2699BD;

  --heading-font: 'your-heading-font', serif;
  --paragraph-font: 'your-paragraph-font', sans-serif;

  --nav-background-color: #091729;
  --nav-link-color: #FDFDFD;
  --nav-hover-link-color: #2699BD;
  --nav-hover-background-color: #1F535F;
}

.sociallinks a {
  text-decoration: none;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}

p {
  padding: 25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.hero {
  position: relative;
  overflow: hidden;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; 
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(52, 152, 219, 0.7); 
  padding: 20px;
  max-width: 400px;
}

.hero article img {
  float: right;
  margin-left: 20px;
}