* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

nav {
  background-color: #eee;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}

nav a {
  color: black;
  padding: 10px;
  display: block;
}

p {
  padding: 10;
  margin: 1rem 1rem 1rem 1rem;
}

h1 {
  padding: .5rem;
  color: navy;
}

main {
  max-width: 650px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid; color: steelblue;
    padding: 6px;
    box-shadow: 0 0 10px gray;
    padding: 2px;
    float: right;
    margin: 0 0 1rem 1rem;
  }

  aside {
    width: 20rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
  }
  
  aside img {
    width: 200px;
    height: auto;
  }

  aside h2 {
    color: #eee;
    position: relative;
    top: 115px;
  }
  
  footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
  } 

  body::after {
    content: "Last modified: 2024-01-25";
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #888;
  }